:root {
    padding: 0;
    margin: 0;
    --grey: hsl(228, 21%, 9%);
    --blue: hsl(214.1, 100%, 45%);
    --dark-blue: hsl(228.8, 67%, 5%);
    --violet: hsl(258, 100%, 56%);
    --violet-white: hsl(258.1, 0%, 75%);
    --violet-dark: hsl(252, 62%, 25%);

    box-sizing: border-box;
    color: white;
    font-family: 'Inter', sans-serif;

}

body {
    margin: 0;
    padding: 0;
    background: var(--dark-blue) url('https://cnbl-cdn.bamgrid.com/assets/1546b1222e513c2653e3c9faca2b009df570da1f6e6b3dbcc83d25d4bbd5bca0/original');
    background-size: contain;
    background-repeat: no-repeat;
}


main>section,
footer {
    padding: 0 5%;
    margin-top: 7em;
    box-sizing: border-box;
}

.title {
    margin: 0;
    font-weight: 600;
}

a:hover {
    color: white;
}

li:hover {
    cursor: pointer;
}

a.button {
    display: block;
    color: white;
    padding: 0.9em;
    text-decoration: none;
    background-color: var(--violet);
    border-radius: 0.3em;
    transition: filter 1s ease;
}

a.button:hover {
    filter: brightness(1.3);
    transition: filter 0.5s ease;
}


/* header  */
header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1em 1em 2em;
    box-sizing: border-box;
    background-color: var(--dark-blue);
    transition: background-color 1s ease;
}

header img {
    width: 4em;
    opacity: 1;
    transition: opacity 1s ease;
}

header ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

header ul li a.button {
    font-weight: 300;
    letter-spacing: 0.02em;
    margin-left: 0.5em;
    padding: .6em .5em;
    background-color: var(--blue);
    border: 0.01em solid var(--blue);
    box-sizing: border-box;
    opacity: 1;
    transition: opacity 1s ease;
}

header ul li:last-child a.button {
    background-color: rgba(0, 0, 0, 0.8);
    border: 0.01em solid white;
    transition: background-color 1s ease;
}

header ul li:last-child a.button:hover {
    filter: brightness(0.95);
    color: rgb(0, 0, 0);
    background-color: white;

}

/* hide logo and button  */
header.hide {
    background-color: transparent;
}

header.hide img {
    opacity: 0;
}

header.hide ul li:first-child a.button {
    opacity: 0;
}




/* Home section  */
.home {
    margin-top: 55vw;
    text-align: center;

}

.home h1 {
    font-size: 1.3em;
    letter-spacing: 0.02em;

}

.home>img {
    width: 12em;
    margin-bottom: 1em;
}

.home .grid-plans {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: flex-end;
}

.home .grid-plans .plan {
    width: 20em;
    margin-top: 1em;
}

.home .grid-plans .plan img {
    width: 100%;
    padding: 1em 2em;
    box-sizing: border-box;
}

.home .plan:nth-child(4) {
    margin-top: 4em;
    margin-bottom: 2em;
}

.home #altHeader a {
    color: var(--violet-white);
    font-size: 90%;
    line-height: 2;
}


/* Movies section */
.movies .movies-nav ul {
    box-sizing: border-box;
    padding: 2.5em 0;
    max-width: 27em;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.movies .movies-nav ul li {
    font-weight: 400;
    padding-bottom: 0.7em;
    list-style: none;
    text-transform: uppercase;
    border-bottom: 0.3em solid transparent;

}

.movies .movies-nav ul li.activated {

    border-bottom: 0.3em solid white;
}

.movies article {
    display: none;
}

.movies article img {
    border-radius: 0.3em;
    width: 100%;
}

.movies article.activated {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1.5em;
}


/* plans section  */
.plans {
    text-align: center;
}

.plans .grid-plans {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;

}

.plans .grid-plans .plan {
    width: 23.5em;
    padding: 5em 2.5em 0;
    box-sizing: border-box;
    margin: 2em 0 4em;
}

.plan.emphasis {
    background: url('https://cnbl-cdn.bamgrid.com/assets/56773c66e02b16eb7603c803037f43e8572ea3a61574abd664f409a385a0b333/original');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


.plans .grid-plans .plan img {
    width: 100%;
}

.plans .grid-plans .plan .price {
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 0.25em;
    margin-top: 1.5em;
}

.plans .grid-plans .plan .informations {
    margin-top: 0;
    color: var(--violet-white);
    font-size: .9em;
    line-height: 1.8;
}

.plans .reminder {
    font-size: 0.7em;
    color: var(--violet-white);
    margin: 0;
}






/* introduction section */
.introduction article {
    text-align: center;
    padding: 5em 0;
}

.introduction article .informations {
    padding: 1em;
    color: var(--violet-white);
    line-height: 1.5;
}

.introduction article img {
    width: 100%;
    margin-bottom: 1em;
}

.introduction article:nth-child(2) {
    font-size: 90%;
}



/* devices section  */
.devices {
    text-align: center;
}

.devices .grid-devices {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    justify-items: center;
}

.devices .grid-devices article {
    margin: 1em;
}

.devices .grid-devices article img {
    width: 100%;
}

.devices .grid-devices article .title {
    font-size: 1.3em;
    margin: 1em;
}

.devices .grid-devices article .informations {
    font-size: 0.9em;
    color: var(--violet-white);
    line-height: 1.8;
}



/* questions section  */
.questions h2 {
    margin-top: 6em;
    text-align: center;
}

.questions ul {
    margin: 0;
    padding: 0;
}

.questions ul .question {
    list-style: none;
    background: var(--grey);
    padding: 1.5em;
    margin: 1em 0;
}

.questions ul .question .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    line-height: 1.8;
}

.questions ul .question .title p {
    margin: 0;
    font-size: 0.9em;

}

.questions ul .question .title img {
    height: 1.5em;
    margin-left: 0.5em;
}

.questions .question .toOpen .response li::before {
    content: "";
    margin: -0.4em;
}

.questions .question .toOpen .response {
    text-align: justify;
    margin: 0;
    font-size: 0.9em;
    line-height: 1.8;
    margin-top: 1.8em;
}

.questions .question .toOpen .response li {
    list-style: disc;
    list-style-position: inside;
    margin-top: 1em;

}



.questions .question .toOpen {
    color: var(--violet-white);
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
}


.questions .question.activated .toOpen {
    max-height: 500px;
}





/* footer section  */
footer {
    margin-top: 7em;
    margin-bottom: 7em;
    font-size: 69%;
    text-align: center;
    color: var(--violet-white);
    line-height: 1.8;
    
}

footer img {
    margin: 0;
    display: inline-block;
    width: 8em;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer li {
    display: inline-block;
    list-style: none;
}

footer a {
    display: block;
    padding: 0.8em 1em;
    text-decoration: none;
    color: var(--violet-white);
}

footer p {
    margin: 2em 0;
}


footer #language{
    color: var(--violet-white);
    background-color: transparent;
    border-color: transparent;
}
footer #language:hover{
    color: white;
    text-decoration: underline;
}
footer #language option{

    color: black;
}


@media screen and (min-width: 48em) {
    body {
        background-image: url('https://cnbl-cdn.bamgrid.com/assets/b025dc386181ccdf3ec91c7ffb8964651be721311da49c29252b148f6e6e4362/original');
    }

    a.button {
        font-size: 120%;
        border-radius: 0.25em;
    }

    header{
        padding-left: 2.5em;
        padding-right: 2.5em;
    }

    header img {
        width: 5em;

    }



    .home>img {
        width: 20em;
    }

    main>section>.title {
        font-size: 1.45em;
    }

    main>section h2.title {
        font-size: 1.7em;
    }

    .home .grid-plans {
        grid-template-columns: repeat(2, 1fr);
        width: 39em;
        margin: auto;
    }

    .home .grid-plans .plan {
        width: 18em;
        margin-bottom: 2em;
    }

    .home .grid-plans .plan:nth-child(2) img {
        padding: 1.5em 1.5em 0;
        margin-bottom: 1em;
    }

    .home .grid-plans .plan:nth-child(1) img {
        padding: 0;
        margin-bottom: 1em;
    }


    .movies .movies-nav ul {
        font-size: 1.1em;
        padding-bottom: 2.2em;
    }

    .movies .movies-nav ul li {
        padding-bottom: 0.5em;
    }

    .movies article.activated {
        grid-template-columns: repeat(3, 1fr);
    }


    .introduction article {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        text-align: start;
        align-items: center;
    }

    .introduction article .info .title {
        padding-left: 0.6em;
        padding-bottom: 0;
    }

    .introduction article .info .informations {
        font-size: 1.1em;
        line-height: 1.5;
    }
    
    .introduction article:nth-child(2){
        height: auto;
        position: relative;
        display: block;
    }
    .introduction article:nth-child(2) .info{
        width: 50%;
        position: absolute;
        right: 1em;
        bottom: 40%;
    }
    
    .devices .grid-devices {
        grid-template-columns: repeat(4, 1fr);
        font-size: 110%;
        margin-top: 1em;
    }

    .devices .grid-devices article {
        margin: 0;
    }


    .questions ul .question {
        font-size: 120%;
    }

    .questions ul .question {
        padding: 1.2em;
        margin: 0.8em 0;
    }

    .questions ul .question .title img {
        font-size: 0.9em;
    }

}


@media screen and (min-width: 64em) {
    body {
        background-image: url('https://cnbl-cdn.bamgrid.com/assets/9bc833a42c7b6a0996d7f8584eccd4e21a13d39917377d82ce8c48d00228a48c/original');
    }


    main>section h1.title {
        font-size: 1.6em;
        margin: 0.5em 0;
    }
    main>section>h2.title {
        font-size: 2.4em;
    }

    .home {
        margin-top: 8em;
        width: 40vw;
        padding: 0;
        margin-left: 5em;
        text-align: center;
    }

    .home .grid-plans {
        width: auto;
        gap: 1.5em;
        padding: 0;
        
    }

    .home .grid-plans .plan {
        width: auto;

    }

    .plans .grid-plans {
        grid-template-columns: repeat(3, 1fr);
    }
    
    footer{
        font-size: 0.7em;
        box-sizing: content-box;
        max-width: 960px;
        margin: 12em auto 7em;
        
    }

}